.block.recentorthoset.imageset
  h4 Recent Ortho Set
  
  .row
    .col
      a(data-title="Recent Ortho Set", data-lightbox="recentorthoset", href="../../images/thumb-recentorthoset-01.jpg")
        img(src="../../images/thumb-recentorthoset-01.jpg")
    .col
      a(data-title="Recent Ortho Set", data-lightbox="recentorthoset", href="../../images/thumb-recentorthoset-02.jpg")
        img(src="../../images/thumb-recentorthoset-02.jpg")
    .col
      a(data-title="Recent Ortho Set", data-lightbox="recentorthoset", href="../../images/thumb-recentorthoset-03.jpg")
        img(src="../../images/thumb-recentorthoset-03.jpg")
  .row
    .col
      a(data-title="Recent Ortho Set", data-lightbox="recentorthoset", href="../../images/thumb-recentorthoset-04.jpg")
        img(src="../../images/thumb-recentorthoset-04.jpg")
    .col
      //empty
    .col
      a(data-title="Recent Ortho Set", data-lightbox="recentorthoset", href="../../images/thumb-recentorthoset-05.jpg")
        img(src="../../images/thumb-recentorthoset-05.jpg")
  .row
    .col
      a(data-title="Recent Ortho Set", data-lightbox="recentorthoset", href="../../images/thumb-recentorthoset-06.jpg")
        img(src="../../images/thumb-recentorthoset-06.jpg")
    .col
      a(data-title="Recent Ortho Set", data-lightbox="recentorthoset", href="../../images/thumb-recentorthoset-07.jpg")
        img(src="../../images/thumb-recentorthoset-07.jpg")
    .col
      a(data-title="Recent Ortho Set", data-lightbox="recentorthoset", href="../../images/thumb-recentorthoset-08.jpg")
        img(src="../../images/thumb-recentorthoset-08.jpg")

  p.last-updated 4 April 2016, 5:32 PM