.block.recentorthoset
  h4 Recent Full Mouth Series
  a(data-title="Recent Full Mouth Series", data-lightbox="recentfullmouthseries", href="../../images/thumb-recentfullmouthseries-temp.png")
    img(src="../../images/thumb-recentfullmouthseries-temp.png")
  p.last-updated 4 April 2016, 5:32 PM
