.block.recentorthoset
  h4 Recent Lateral Cephalogram
  a(data-title="Recent Lateral Cephalogram", data-lightbox="recentlateralcephalogram", href="../../images/thumb-recentlateralcephalogram.jpg")
    img(src="../../images/thumb-recentlateralcephalogram.jpg")
  p.last-updated 4 April 2016, 5:32 PM