.block.recentorthoset
  h4 Recent Panorex
  a(data-title="Recent Panorex", data-lightbox="recentpanorex", href="../../images/thumb-recentpanorex.jpg")
    img(src="../../images/thumb-recentpanorex.jpg")
  p.last-updated 4 April 2016, 5:32 PM